

.hide-mobile {
    display: none;
}

body {
    background-color: #030030;
    background-image: url('Desktop.svg');
    background-size: cover;
    background-position:right top;
    background-repeat: no-repeat;
    margin: 0;
    color: white;
    text-decoration: none;
}

.wrap {
    margin:2em;
}

header {
    display: flex;
    justify-content:space-between;
    font-family: outfit;
}
.header-left{
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
nav ul {
    font-family: roboto;
    background: #181635;
    opacity: 0.95;
    position:fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 40%;
    text-align: right;
    padding: 2em;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    

    li {
        margin:1em 0;

        &:nth-of-type(1) {
            margin: 0 0 2.5em 0;
        }

        a {
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            cursor: pointer;
            transition: color 0.3s ease;      

            &:hover {
                text-decoration: underline;
                color: #D52092; 
            }
        }
    }
}

.open {
    transform: translateX(0%);
}



h1 {
    font-family: outfit;
    font-size:2.1rem;
    margin-top: 2em;
    text-align: left;
    font-weight: bolder;
}

p {
    text-align: left;
    font-family: roboto;
    font-size: 1rem;
    line-height: 1.5;
    padding: 2em 0 0 0;
}


@media (min-width: 798px) {
    body {
        background-color: #030030;
        background-image: url('Desktop.svg');
        background-size: cover;
        background-position:top;
        background-repeat: no-repeat;
        margin: 0;
        color: white;
        text-decoration: none;
    }
  .wrap {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1200px;
} 
    
    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: block;
    }

    header {
        position: fixed;
        top: 1em;
      }
    .header-left{
        font-size: 1.1rem;
    }
    nav ul {
        background: none;
        display: flex;
        padding:0;
        margin: 0;
        gap: 2em;
        height: auto;
        width: auto;
        transform: translateX(0%);
        
        li a {
            font-size: 1rem;
            padding: 0;
            margin-right: 2em;
        }
    }
    h1,p{
        margin:0 0 0 0;
        padding: 0 0 0 0;
    }
    h1 {
        font-family: 'Outfit', sans-serif;
        font-size: 5rem;
        color: white;
        padding-top: 1.5em;
        text-align:center;
    }
    
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        color: white;
        text-align:center;
        padding: 2em 4em;
        margin-top:0;  
        
    }
}
